# Build outputs
bin/
obj/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.rsuser
*.sln.docstates
*.DotSettings.user
Folder.DotSettings.user

# OS / tooling
.DS_Store
Thumbs.db

# Logs
*.log

# Test results
TestResults/

# NuGet
*.nupkg
packages/

# Artifacts
*.cache
*.pdb
*.dll
*.exe
